In [80]:
import pymongo
import numpy as np
import pandas as pd
import re
import pymysql
client = pymongo.MongoClient("mongodb+srv://tarangga:pymongo_123@cluster0.fwcgr.mongodb.net/online_shop_db?retryWrites=true&w=majority")
db = client.get_database('online_shop_db')

In [81]:
tokopedia = list(db.tokopedia.find({}))
shopee_sal = list(db.shopee_sales.find({}))
shopee_pop = list(db.shopee_popular.find({}))

In [82]:
def transform_tokped(data):
    product = {'id': str(data['_id'])}
    product['name'] = data['Name']
    product['rating_star'] = sum(np.array(data['information']['stars']).astype(int)*np.array([5, 4, 3, 2, 1]))/sum(np.array(data['information']['stars']).astype(int))
    product['description'] = data['information']['desription']
    product['source'] = 'tokopedia'
    
    product['store'] = data['information']['store']
    product['location'] = data['location']
    
    product['real_price'] = int(re.sub(r'[^0-9]', '', data['real_price']))
    product['price'] = int(re.sub(r'[^0-9]', '', data['price']))
    product['discount'] = int(data['discount'][:-1])
    product['sold'] = int(re.sub(r'[^0-9]', '', data['information']['num_sale']))
    
    
    return product

In [83]:
def transform_shopee(data, src):
    product = {'id': str(data['_id'])}
    
    product['name'] = data['name']
    product['rating_star'] = data['item_rating']['rating_star']
    product['description'] = data['information']['data']['description']
    product['source'] = src
    
    product['store'] = data['shop']['account']['username']
    product['location'] = data['shop']['place']
    
    product['real_price'] = data['price_before_discount']
    product['price'] = data['price']
    product['discount'] = int(data['show_discount'])
    product['sold'] = data['sold']
    
    return product

In [84]:
shopee_sales_df = pd.DataFrame([transform_shopee(s, 'shopee_sales') for s in shopee_sal]).iloc[:50]
shopee_popular_df = pd.DataFrame([transform_shopee(s, 'shopee_popular') for s in shopee_pop]).iloc[:50]
tokopedia_df = pd.DataFrame([transform_tokped(data) for data in tokopedia]).iloc[:100]

In [85]:
df = pd.concat([shopee_sales_df, shopee_popular_df, tokopedia_df])
df = df.reset_index(drop=True)

In [86]:
df['description'] = df['description'].str.replace("'", '"')

In [87]:
df['description'] = df['description'].apply(lambda x: re.sub(r'[^0-9a-zA-Z ]', '', str(x)))

In [88]:
def insert_df(script, df):
    res = ''
    for i, row in df.iterrows():
        print(i, end=' ')
        cursor.execute(script.format(*list(row)))
    return res

In [89]:
'insert into `products` values (%s, %s, %d, %s, %s, %s, %s, %d, %d, %d, %d)'
'insert into `products` values ("{}", "{}", {}, "{}", "{}", "{}", "{}", {}, {}, {}, {})'

'insert into `products` values ("{}", "{}", {}, "{}", "{}", "{}", "{}", {}, {}, {}, {})'

In [90]:
connection = pymysql.connect(host='remotemysql.com',
                             user='NyQDiQ8NQg',
                             password='YZTHTXemkv',
                             database='NyQDiQ8NQg',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

cursor = connection.cursor()
cursor.execute('select * from `products`')
cursor.fetchall()

()

In [91]:
df = df[['id', 'name', 'rating_star', 'description', 'source', 'store',
       'location', 'price', 'discount', 'real_price', 'sold']]

In [92]:
insert_df("""insert into `products` values ('{}', '{}', {}, '{}', '{}', '{}', '{}', {}, {}, {}, {})""", df)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199

''

In [93]:
connection.commit()

In [94]:
connection.close()